{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur notre site !{% endblock %}

{% block body %}
    <h1> Bienvenue sur mon site de vente de jardinage </h1>
    {% for item in liste %}
    <article>
    <h2> Article : {{item.titre}} </h2>
    <p> Description : {{ item.description }} </p>
    <small> Prix : {{ item.prix|format_currency('EUR', locale='fr') }} </small>
    </article>
    {% endfor %}
{% endblock %}
